<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
	<!-- wp:pattern {"slug":"shopverse/banner"} /-->
	<!-- wp:pattern {"slug":"shopverse/services"} /-->
	<!-- wp:pattern {"slug":"shopverse/category-collage"} /-->
	<!-- wp:pattern {"slug":"shopverse/category-carousel-product"} /-->
	<!-- wp:pattern {"slug":"shopverse/counter"} /-->
	<!-- wp:pattern {"slug":"shopverse/carousel-category"} /-->
	<!-- wp:pattern {"slug":"shopverse/cta"} /-->
	<!-- wp:pattern {"slug":"shopverse/featured-products"} /-->
	<!-- wp:pattern {"slug":"shopverse/product-review"} /-->
	<!-- wp:pattern {"slug":"shopverse/gallery"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->